* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Istok Web', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #D3D3D3;
    font-family: 'Istok Web', sans-serif;
}

label[for="bt_menu"] {
    padding: 5px;
    background-color: #314165;
    color: #fff;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
}

#bt_menu {
    display: none;
}


#inicio:hover, #cadastro:hover, #lnkVoltar:hover{
    text-decoration: underline;
}

#bodyIndex {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    margin: auto;
    width: 35%;
    -webkit-box-shadow: 0px -1px 11px 4px rgba(133,133,133,1);
    -moz-box-shadow: 0px -1px 11px 4px rgba(133,133,133,1);
    box-shadow: 0px -1px 11px 4px rgba(133,133,133,1);
}

#body {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 7.5%;
    height: auto;
    -webkit-box-shadow: 0px -1px 11px 4px rgba(133,133,133,1);
    -moz-box-shadow: 0px -1px 11px 4px rgba(133,133,133,1);
    box-shadow: 0px -1px 11px 4px rgba(133,133,133,1);
    width: 85%
}

.index {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top:auto;
}

#cadastro, #lnkVoltar {
    text-decoration: none;
    color: #314165;
    font-weight: 600;
    background-color: none;
}

#inicio {
    text-decoration: none;
    color: #314165;
    font-weight: 600;
    background-color: none;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
}

.col {
    width: 100%;
    margin: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        padding: 0;
    }
}

#btnCadastrar, #btnCep, #btnBuscarCEP, #btnAtualizar, #btnReservar, #btnElevacao, #btnConforto,
btnCadeira, #btnAdicionar, #btnDias, #btnCadeira, #btnLogar, #btnCupom, #btnAdicionar {
    background-color: #314165;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
}

.menu {
    width: 100%;
    height: 50px;
    background-color: #314165;
    -webkit-box-shadow: 0px 9px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 20px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 20px -7px rgba(0,0,0,0.75);
}

.menu ul {
    list-style: none;
    position: relative;
    z-index: 1;
}

.menu ul li {
    width: 200px;
    float: left;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;
}

#lnkAtualizar:hover, #lnkBusca_Reserva:hover, #lnkReserva:hover, #lnkSair:hover {
    background-color: #fff;
    color: #314165;
}

.menu {
    padding-top: 1px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #314165;
    color: #fff;
}

#lnkAtualizar, #lnkBusca_Reserva, #lnkReserva, #lnkSair, #lnkAddCupom, #lnkVisualizarReserva, #lnkVisualizarLocacao {
    padding-top: 10%;
    padding-bottom: 5%;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #314165;
    color: #fff;
    margin-top: -0.2%;
}

    .gridview th, .gridviewFuncionario th {
        font-weight: bold;
        background-color: #314165;
        color: white;
        border: 1px solid gray;
        padding: 3px;
    }

.gridview td, .gridviewFuncionario td{
    padding: 3px;
    border: 1px solid gray;
    background-color: white;
}

#grid{
    margin-left: 5%;
    margin-right: 10%;
    
}

.gridview {
    margin: auto;
    width: 100%;
}

#txtNome, #txtLogradouro, #txtEmail, #txtNomeCliente {
    border: 2px solid #D3D3D3;
    border-radius: 5px;
    color: #314165;
    font-weight: 600;
    width: 50%;
    height: 25px;
    font-size: 16px;
}

.textbox {
    border: 2px solid #D3D3D3;
    border-radius: 5px;
    height: 25px;
    color: #314165;
    font-weight: 600;
    width: 9%;
    font-size: 16px;
}

.textbox2 {
    border: 2px solid #D3D3D3;
    border-radius: 5px;
    color: #314165;
    font-weight: 600;
    width: 20%;
    height: 25px;
    font-size: 16px;
}

.textbox3 {
    border: 2px solid #D3D3D3;
    border-radius: 5px;
    color: #314165;
    font-weight: 600;
    width: 30%;
    height: 25px;
    font-size: 16px;
}

#Label1, #Label2, .textoCadastro{
    color: #314165;
    font-weight: bold;
}

#texto1 {
    font-weight: 600;
    color: #808080;
    margin-left: 14%
}

#Label3 {
    font-weight: 600;
    color: #808080;
    margin-left: 24%
}

#txtSenha{
    margin-left: 3%
}

#Label1, #Label2{
    margin-left: 26%
}

#Label4 {
    font-weight: 600;
    color: #808080;
    margin-left: 32%;
    padding-bottom: 1.5%
}

#txtLogin{
    margin-left: 3.9%
}

#header {
    width: 300px;
}

header{
    background-color:white;
    margin: 0;
    padding: 0;
}

#textCadastro {
    text-align: center;
    color: #314165;
    font-weight: bold;
}

.textInformacao {    
    color: #314165;
    font-weight: bold;
}

.lnk{
    text-decoration: underline;
    color: #314165;
    font-weight: 600;
}

.gridviewFuncionario {
    margin-right: 900px;
    margin-left: -50px;
}

#imagemInicio{
    width: 80%;
    display: block;
    margin: auto;
}

#btnLogar{
    margin-left: 46%
}

#txtCpf{
    width: 10%
}

#txtCelular{
    width: 10%
}

#txtTelefone{
    width: 9.5%
}

#txtRazaoSocial{
    width: 25%
}

#iniciocliente{
    background-color: #fff;
}

#rdbSUV, #rdbSedan, #rdbHatch, #rdbPremium, #rdbVan, #btnAdicionar, #Label102,
#Label103, #Label9, #Label10, #Label12, #Label5, #btnDias, #Label402, #btnCadeira,
#btnConforto, #btnElevacao, #btnCupom, #txtCupom, #btnAdicionar {
    margin-left: 1%
}

#txtCNPJ{
    width: 12.5%
}

#lblQCadeira{
    margin-left: 5%
}

#lblQConforto{
    margin-left: 6.25%
}

#lblQElevacao{
    margin-left: 2.1%
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 22% auto;
}

    .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: #314165;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    }

    .sk-cube-grid .sk-cube1 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube2 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube3 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube5 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube6 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube7 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .sk-cube-grid .sk-cube8 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube9 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}